conda.enabled = true

process {
    withName: trim_adapters {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: filter_quality {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: bowtie_mapping {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: samtools {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: feature_counts {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: bowtie_map2paneltargets {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: count_targets {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    withName: seqtk_fastq_filter {
    conda = "/media/Disco12/slicandro/miniconda3/envs/pipeline_env"
    }
    executor = 'local'
    cpus = 1
    memory = '30 GB'
    time = '6h'
    withLabel: 'long' {
        cpus = 1
        time = '24h'
        memory = '100 GB'
    }
}

executor {
    cpus = 30
    memory = '100 GB'
}

executor.cpus = 30
executor.memory = '100 GB'

singularity {
    enabled = true
    autoMounts = true
}

profiles {
    standard {
        process.executor = 'local'
    }

    // The 'cluster' profile is intended for running the pipeline on SLURM clusters.
    cluster {
        process.executor = 'slurm'
    }
}